In [4]:
for i in range(10):
    print("*"*(i+1))

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
#Markdown

In [6]:
dic={'name':'donghyuk', 'phone':'01034596688', 'birth':'0226'}
dic

{'name': 'donghyuk', 'phone': '01034596688', 'birth': '0226'}

In [7]:
dic['height']='183cm'
dic

{'name': 'donghyuk',
 'phone': '01034596688',
 'birth': '0226',
 'height': '183cm'}

In [9]:
del dic['name']
dic

{'phone': '01034596688', 'birth': '0226', 'height': '183cm'}

In [10]:
dic['phone']

'01034596688'

In [11]:
dic['birth']

'0226'

In [12]:
dic.keys()

dict_keys(['phone', 'birth', 'height'])

In [13]:
dic.values()

dict_values(['01034596688', '0226', '183cm'])

In [16]:
#변수에 값 대입
num=3

#변수에 대입된 값 출력
print(num)

3

In [17]:
dic.items()

dict_items([('phone', '01034596688'), ('birth', '0226'), ('height', '183cm')])

In [18]:
list(dic.items())

[('phone', '01034596688'), ('birth', '0226'), ('height', '183cm')]

In [19]:
list(dic.keys())

['phone', 'birth', 'height']

In [20]:
list(dic.values())

['01034596688', '0226', '183cm']

In [22]:
num1=13
print(num1)
num2=25
print(num2)
num2=77
print(num2)

13
25
77

In [23]:
dic.clear()

In [24]:
dic.items()

dict_items([])

In [29]:
a={'name':'donghyuk', 'birth':'0226'}
a.get('name')
a.get('birth')

'0226'

In [27]:
print(a.get('name'))

donghyuk

In [31]:
a.get('name', 'birth')

'donghyuk'

In [33]:
num3=3.1425
print(num3)
num4=1.25
num4
num5=3.0
print(num5)
#변수명을 적는 출력문은 맨 마지막에 있을때만 출력된다.
#print 함수를 이용한 출력문은 위치 상관없이 여러개 출력된다.

3.1425
3.0

In [34]:
str1 = "funny python"
str1

'funny python'

In [35]:
str2 = "easy python"
str2

'easy python'

In [36]:
print(str1 + str2)

funny pythoneasy python

In [37]:
str1 + str2

'funny pythoneasy python'

In [39]:
str1 + " " + str2

'funny python easy python'

In [40]:
dong = {'last_name':'oh', 'height':'183cm'}
dong.values()

dict_values(['oh', '183cm'])

In [41]:
print(str1)

funny python

In [42]:
print("str1")

str1

In [43]:
print('str1')

str1

In [44]:
print(str1)

funny python

In [45]:
st = 'python \n java'
print(st)
st
#print는 실행, 변수명 출력은 출력

python
 java

'python \n java'

In [46]:
print("number: ", 3333)

number:  3333

In [47]:
#변수의 이름은 숫자로 시작할 수 없다.
#변수의 알파벳은 대소문자를 구분한다. 
#변수명 권장사항
#변수명의 첫 글자는 항상 소문자로 만든다.
#변수명을 두 가지 이상의 단어로 만들 때, 두 단어가 구분이 가능 하도록 언더바나 대소문자로 구분한다.

a=10
b=15
print(a)
print(b)

10
15

In [48]:
a,b=10,15
print(a, b)

10 15

In [49]:
print(a,b)

10 15

In [51]:
a, b, c, d, e = 10,9,8,7,6
print(a,b,c,d,e)

10 9 8 7 6

In [52]:
str1="python"
str2="python"
str1 + str2

'pythonpython'

In [53]:
s22=s33='2323'
print(s22, s33)

2323 2323

In [3]:
x=100
y=300
sum=x+y
print(sum)

400

In [4]:
x=100
y=200
sum=x+y
print(sum)

300

In [1]:
str1="\"funny python\""
str1

'"funny python"'